html{
    background-color: rgba(220, 164, 19, 0.2);
    background-image: url(../img/WESTBRICK-wide-transparent.svg);    	
	background-size: 100%;
	background-repeat: no-repeat;		
	background-position: center;	
	background-attachment: fixed;
}
.main-title {
    max-width: 50%;
    display: block;
    margin: auto;
}
.post-item-button {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 50px;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 50px;
    background-color: rgb( 220, 164, 19);
    border-radius: 10px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
.post-item-button:hover {
    background-color: rgb( 250, 194, 49);
}
.items {
    margin-left: 400px;
    margin-right: 400px;
}
.item {
    margin-bottom: 100px;
    background-color: rgba(219, 206, 186, 0.2);
    border-radius: 10px;
    padding: 20px; 
    padding-left: 20px;   
    padding-right: 20px;
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 450px 1fr 0.1fr;
    grid-template-rows: auto auto auto;
}
.item h1 {
    margin-top: 0;
}
.item-image {
    max-width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;    
    padding: 7px;  
    grid-column: 1;
    grid-row: 1 / 3;  
    display: flex;
    justify-self: center; 
    margin-right: 30px;
    align-items: center;
}
.item-images {
    max-width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb(27,27,27);
    border-width: 2px;
    padding: 7px;  
    grid-column: 1;
    grid-row: 1 / 3;      
    justify-self: center; 
    margin-right: 30px;
    position: relative;
    display: flex;
    align-items: center;
}
.next2 {
    position: absolute;        
}
.prev2 {
    position: absolute;
    left: 3px;
}
.top-middle-things {
    grid-column: 2 / 3;
    grid-row: 1;
}
.item-title {
    padding-right: 20px;
    font-size: 26px;
}
.item-seller {
    
}
.item-posting-date {
    
}
.item-body {
    grid-column: 2 / 5;
    grid-row: 2 / 3;
    margin-top: 0;
    font-size: 16px;    
}
.item-body p{
}
.item-price {
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    align-self: start;
    font-size: 26px;
}
.item-garbage-button {   
    justify-self: end;
    align-self: end;
    grid-column: 3;    
    grid-row: 3;
    width: 30px;
    height: 30px;
}
.item-id {
    grid-column: 1;
    grid-row: 3;   
    margin-bottom: 0;
    margin-top: auto;
}
.submission-form {
    display: block;
    margin: 10px auto;
    margin-bottom: 100px;
    background-color: rgba(219, 206, 186, 0.2);
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-left: 400px;
    margin-right: 400px;
}
.submission-form label {
    display: block;
    font-size: 20px;
    margin: 0px auto;
    text-align: center;      
    font-weight: bold;
    margin-top: 15px;
}
.submission-form input {
    display: block;
    margin: 10px auto;    
    background-color: rgba(219, 206, 186, 0.6);
    padding: 5px;
    border-radius: 5px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    border-width: 3px;    
    font-size: 20px;
    max-width: 90%;
}
.date-box {
    width: 300px;
    padding: 5px;
    text-align: center;
}
.submission-form textarea {
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 200px;
    padding: 20px;
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    border-width: 4px;    
    background-color: rgba(219, 206, 186, 0.6);
    font-size: 24px;
}
.submit-button {
    display: block;
    margin: 30px auto 30px auto !important;    
    width: 300px;
    height: 70px !important;    
    border-radius: 5px;
    font-weight: bold;
    text-align: center;    
    margin-top: 50px;    
}
.choose-file-input-box {
    width: 760px;
    max-width: 90%;
}
.submit-button:hover {
    background-color: rgb( 220, 164, 19);
}
.upload-image-button:hover {
    background-color: rgb( 220, 164, 19);
}
.post-item-title {
    text-align: center;
    font-size: 30px;
    
}
.westbrick-success-svg {    
    display: block;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    height: auto;
}
.submission-form-top-input {
    display: flex;
    justify-content: space-evenly;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.home-button {
    display: block;
    margin: 30px auto;
    height: 50px;
    width: 200px;
    background-color: rgb( 220, 164, 19);
    font-size: 24px;    
    font-weight: bold;
    border-radius: 10px;
}
.home-button:hover {
    background-color: rgb(250, 194, 49);
}
.successful-deletion-indicator {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-color: rgb( 220, 164, 19);
    -webkit-text-stroke-width: 2px;
}
@media screen and (max-width: 1700px) {
    .submission-form-top-input {
        flex-direction: column;
    }
    .submission-form label{        
    }
}
@media screen and (max-width: 1600px) {
    .item {

    }
    .top-middle-things {
        grid-row: 1;
        grid-column: 2 / 3;
    }
    .item-images {
        grid-row: 1;
    }
    .items {
        margin-left: 100px;
        margin-right: 100px;
    }
}
@media screen and (max-width: 1400px) {
    
    .submission-form {
        margin-left: 100px;
        margin-right: 100px;
    }
    .westbrick-success-svg {        
        max-width: 80%;
    }
}
@media screen and (max-width: 1300px) {
    
    .item {

    }
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 992px) {
    
    .items {
        margin-left: 10px;
        margin-right: 10px;
    }
    .westbrick-success-svg {        
        max-width: 90%;
    }
    
}
@media screen and (max-width: 900px) {
    .item-body{
        grid-row: 3;
        grid-column: 1;
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .submission-form {
        margin-left: 10px;
        margin-right: 10px;
    }
    .item {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }
    .item-body {
        grid-row: 4;
        grid-column: 1;
    }
    .item-garbage-button {
        grid-row: 5;
        grid-column: 1;        
    }
    .item-id{
        grid-row: 5;
    }
}
@media screen and (max-width: 700px) {
    
    .item-price {
        grid-row: 2;
        grid-column: 1;
        justify-self: start;
    }
    .top-middle-things {
        grid-row: 1;
    }
    .item-images {
        grid-row: 1;
    }
    
}
@media screen and (max-width: 576px) {
    .items {
        margin-left: 5px;
        margin-right: 5px;
    }
    .item-images {        
        max-width: 95%; 
        grid-column: 1; 
        margin-right: 0px;  
        grid-row: 3;     
    }
    .item {
        padding-left: 10px;
        padding-right: 10px;
    }
    .top-middle-things {
        grid-column: 1;
    }
    .item-title {
        padding-right: 0;
    }
    .post-item-button {
        max-width: 100%;
        font-size: 20px;
    }
    .submission-form {
        margin-left: 5px;
        margin-right: 5px;
    }
    
}
/* ARTICLE CODE */
/* .article {
    margin-bottom: 100px;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;
    padding: 20px; 
    padding-left: 60px;   
    padding-right: 60px;
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    font-family: Arial, Helvetica, sans-serif;
}
.articles-title {
    margin-top: 30px;    
}
.article-author {
    font-style: italic;
    font-size: 24px;
}
.article-paragraph {
    font-size: 24px;
    text-indent: 40px;
}
.article-title {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb( 220, 164, 19);
}
.submission-form {
    display: block;
    margin: 10px auto;
    margin-bottom: 100px;
    background-color: rgba(200, 200, 200, 0.3);
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.submission-form label{
    display: block;
    font-size: 24px;
    margin: 10px auto;
    text-align: center;  
    margin-top: 20px;  
}
.submission-form input{
    display: block;
    margin: 10px auto;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 5px;
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    border-width: 3px;
}
.date-box{
    width: 300px;
    padding: 5px;
    text-align: center;
}
.submission-form textarea{
    display: block;
    margin: 10px auto;
    width: 80%;
    height: 500px;
    padding: 20px;
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb( 220, 164, 19);
    border-width: 4px;
    background-color: rgba(255, 255, 255, 0.60);
}
.submit-button{
    display: block;
    margin: 30px auto 30px auto;    
    width: 300px;
    height: 70px;    
    border-radius: 5px;
    font-weight: bold;
    text-align: center;    
    margin-top: 50px !important;
}
.choose-file-input-box {
    width: 760px;
    max-width: 90%;
}
.submit-button:hover {
    background-color: rgba(253, 199, 22, 0.85);
}
.upload-image-button:hover {
    background-color: rgba(253, 199, 22, 0.85);
}
.article-image {
    max-width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    border-radius: 10px;      
    border-style: solid;
    border-color: rgb(27,27,27);
    border-width: 2px;
    padding: 13px;
    margin-left: 40px;
} */